{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <tbody>
            {% for challenge in challenges %}
                <tr>
                    <td><a href="{{ path('challenge_show', { 'id': challenge.id }) }}">{{ challenge.id }}</a></td>
                    <td>{{ challenge.greyTeam }}</td>
                    <td>{{ challenge.blueTeam }}</td>
                    <td>{{ challenge.blackTeam }}</td>
                    <td><img src="{{ challenge.greyTeam.flagImg }}"/></td>
                    <td>{% if challenge.time %}{{ challenge.time|date('H:i:s') }}{% endif %}</td>
                    <td>{{ challenge.place }}</td>
                    <td>{{ challenge.winner }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('challenge_show', { 'id': challenge.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('challenge_edit', { 'id': challenge.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </div>
    </div>
{% endblock %}